#bandeau {
  width:100%;
  height: 6%;
  top:0;
  left:0;
  position:fixed;
  background-color: #333;
}

#bandeau #title {
  width: 40%;
  margin-left:30%;
  position: absolute;
}

#bandeau #title span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#bandeau ul {
  list-style-type: none;
  width: 30%;
  float : right;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bandeau ul li {
  float : right;
}
#bandeau ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#bandeau ul li a:hover {
    background-color: #111;
}

#contener {
  position:absolute;
  top:6%;
  height:94%;
  width:100%;
  left:0;
}

.manga_choice {
  position: relative;
  text-align: center;
}

.selected_manga {
  float:left;
}

.manga_contener {
  height:736px;
  width:30%;
  display: inline-block;
}

.manga_name {

}

.manga_image {
  width:100%;
}

.chapter_choice {
  left : 30%;
  width: 70%;
  height:94%;
}
