<div class="login_body" ng-controller="loginCtrl">
  <div class="logo"></div>
  <div class="login-block">
      <h1>Login</h1>
      <input type="text" ng-model="login" id="username" />
      <input type="password" ng-model="password" id="password" />
      <div class="error">
        <div class="login-password-error" ng-style="showError">
            <div class="message-error">Login or Password invalid</div>
        </div>
      </div>
      <button ng-click="save()">Submit</button>
  </div>
</div>
